/angel.gif
/crazy.gif
/cry.gif
/dance.gif
/glasses.gif
/hoho.gif
/joke.gif
/laugh.gif
/look.gif
/love.gif
/music.gif
/rofl.gif
/sad.gif
/scratch.gif
/shock.gif
/sick.gif
/smile.gif
/smoke.gif
/stuk.gif
/v.gif
/zlo.gif
/zst.gif
