/add.gif
/application.gif
/arhive_off.gif
/arhive_on.gif
/ban.gif
/config.gif
/copy.gif
/date.gif
/delete.gif
/down.gif
/edit.gif
/explore.gif
/file.gif
/loader.gif
/message.gif
/next.gif
/off.gif
/on.gif
/play.gif
/profile.gif
/remove.gif
/save.gif
/search.gif
/top.gif
/up.gif
