/phpmailer.lang-ar.php
/phpmailer.lang-br.php
/phpmailer.lang-ca.php
/phpmailer.lang-ch.php
/phpmailer.lang-cz.php
/phpmailer.lang-de.php
/phpmailer.lang-dk.php
/phpmailer.lang-eo.php
/phpmailer.lang-es.php
/phpmailer.lang-et.php
/phpmailer.lang-fa.php
/phpmailer.lang-fi.php
/phpmailer.lang-fo.php
/phpmailer.lang-fr.php
/phpmailer.lang-he.php
/phpmailer.lang-hu.php
/phpmailer.lang-it.php
/phpmailer.lang-ja.php
/phpmailer.lang-lt.php
/phpmailer.lang-nl.php
/phpmailer.lang-no.php
/phpmailer.lang-pl.php
/phpmailer.lang-ro.php
/phpmailer.lang-ru.php
/phpmailer.lang-se.php
/phpmailer.lang-sk.php
/phpmailer.lang-tr.php
/phpmailer.lang-uk.php
/phpmailer.lang-zh.php
/phpmailer.lang-zh_cn.php
