/arhive.gif
/autoorder.gif
/cancel.gif
/config.gif
/delete.gif
/edit.gif
/excel.gif
/folders.gif
/help.gif
/hide.gif
/install.gif
/list.gif
/listawards.gif
/listblogs.gif
/listcomments.gif
/listdiscount.gif
/listforms.gif
/listforums.gif
/listphoto.gif
/liststuff.gif
/new.gif
/newaward.gif
/newdiscount.gif
/newfolder.gif
/newform.gif
/newforum.gif
/newmenu.gif
/newmenu.png
/newphoto.gif
/newphotomulti.gif
/newstuff.gif
/profile.gif
/ranks.gif
/reorder.gif
/save.gif
/saveprices.gif
/show.gif
/user_go.png
/useradd.gif
/userbanlist.gif
/userdelete.gif
/useredit.gif
/usergroup.gif
/usergroupadd.gif
