/actionscript.php
/actionscript3.php
/apache.php
/asp.php
/bash.php
/c.php
/cpp.php
/css.php
/delphi.php
/diff.php
/html.php
/html4strict.php
/html5.php
/java.php
/java5.php
/javascript.php
/jquery.php
/mysql.php
/pascal.php
/pcre.php
/per.php
/perl.php
/perl6.php
/php.php
/postgresql.php
/powershell.php
/python.php
/ruby.php
/smarty.php
/sql.php
/text.php
/vb.php
/xml.php
/yaml.php
