/mod_lastreg.tpl
/mod_latest.tpl
/mod_latest_faq.tpl
/mod_latestboard.tpl
/mod_menu.tpl
/mod_photo.tpl
/mod_polls.tpl
/mod_random_image.tpl
/mod_respect.tpl
/mod_rss.tpl
/mod_search.tpl
/mod_tags.tpl
/mod_template.tpl
/mod_uc.tpl
/mod_uc_random.tpl
/mod_user_friend.tpl
/mod_user_image.tpl
/mod_user_rating.tpl
/mod_user_stats.tpl
/mod_userfiles.tpl
/mod_usermenu.tpl
/mod_usersearch.tpl
/mod_whoonline.tpl
/module.tpl
/module_simple.tpl
*.tpl
