/applet_arhive.php
/applet_cats.php
/applet_clearcache.php
/applet_components.php
/applet_config.php
/applet_content.php
/applet_cron.php
/applet_install.php
/applet_main.php
/applet_menu.php
/applet_modules.php
/applet_noaccess.php
/applet_plugins.php
/applet_repairnested.php
/applet_tree.php
/applet_userbanlist.php
/applet_usergroups.php
/applet_users.php
